streamlit==1.18.1
streamlit-authenticator
db-dtypes
google-cloud-bigquery
openpyxl
xlsxwriter
nltk
scikit-learn
deta
imagekitio
openai==0.28
tiktoken
python-barcode
fpdf
matplotlib
urllib3<2
db_dtypes
#google modules below:
gspread
oauth2client
google-cloud-storage
google-cloud-bigquery
# requests-toolbelt==0.10.1
#protobuf==3.20.*
google-api-python-client